In [30]:
import requests
import pandas as pd

token = '0xEcA19B1a87442b0c25801B809bf567A6ca87B1da'
url = f"https://api-ropsten.etherscan.io/api?module=account&action=tokentx&address={token}&startblock=0&endblock=999999999&sort=asc&apikey=K7ST5DC6VP2Z5ZVWWD1IB3JDB5AHIEV274"
headers = {'content-type': 'application/json', 'User-Agent': 'curl/7.47.1'}
response = requests.get(url, headers = headers)
data = response.json()
print(response)
block_list = {token.lower():[], }
for i in data['result']:
  if i['from'] == token.lower():
    block_list[token.lower()].append(i)

not_list = {token.lower(), }
last_len = 0
#while len(not_list) != last_len :
for o in range(10):
  temp = block_list.copy()
  for k in temp:
    for f in temp[k]:
      if f['to'] not in not_list:
        block_list[f['to']] = []
      
  for i in block_list:
    if i not in not_list:
      for j in data['result']:
        if j['from'] == i:
          if j['tokenSymbol'] == 'BKTC':
            block_list[i].append(j)
            not_list.add(i)
   
for i in block_list:
  if i not in not_list:
    for j in data['result']:
      if j['from'] == i:
        block_list[i].append(j)
        not_list.add(i)
setx = set()
for s in block_list:
  for i in block_list[s]:
    if i['tokenSymbol'] == 'BKTC':
      setx.add(i['hash'])
r = pd.DataFrame()
hash = []
fro = []
t = []
am = []
for i in data['result']:
  if i['hash'] in list(setx):
    hash.append(i['hash'])
    fro.append(i['from'])
    t.append(i['to'])
    am.append(int(int(i['value'])/(10**18)))
r['TX Hash'] = hash
r['from'] = fro
r['to'] = t
r['amount'] = am
print(r)

<Response [200]>
                                             TX Hash  ... amount
0  0x905cdb49db7b8804830017e3f3d4a6d80f30c15f2ef8...  ...     10
1  0xde88b7bbe2d12527a53d3ce4c0f9c980da5683fd1f5e...  ...      5
2  0x455354c462770b8dd8a72952afaa61cd57b99d113436...  ...      5

[3 rows x 4 columns]

                                             TX Hash  ... amount
0  0x905cdb49db7b8804830017e3f3d4a6d80f30c15f2ef8...  ...     10
1  0xde88b7bbe2d12527a53d3ce4c0f9c980da5683fd1f5e...  ...      5
2  0x455354c462770b8dd8a72952afaa61cd57b99d113436...  ...      5

[3 rows x 4 columns]